/* Remove the default margin and padding from the body. */
body {
    background:  rgb(255, 255, 227);
    /* background-image: url("https://lh3.googleusercontent.com/4I4XB51OZpQL-JuSUcd8yrchFvAXJrK405d6CtVX9hXOqAC4vFTeuwFACbVzPSCOEeRtMHlLqA33rvlcnGb3FPTSfOuusljfWH9sf1U45Aaq=rw-e365-w1800"); */
    font-family: "PT Sans", -apple-system, BlinkMacSystemFont, HelveticaNeue-Light, "Segoe UI", "Helvetica Neue", Helvetica, Raleway, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", -apple-system, BlinkMacSystemFont, HelveticaNeue-Light, "Segoe UI", "Helvetica Neue", Helvetica, Raleway, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  /* Basic Layout */

#main_container {
    margin-top: 15px;
    width: 75%;
}

#header {
    background-color:#ffe419;
    height:  100px;
    background-image: url("../../static/images/halftone_bg.png");
    background-size: 300px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border-radius: 40px 40px 0px 0px;
}



  .challenger_container {
    background-color: #ffe419;
    border: 2px solid #adadad;
    border-radius: 40px 40px 40px 40px;
    background-image: url("../../static/images/body_bg.png");
    padding: 20px;
}

/* Header Elements */
.main_logo {
    margin: 5px 0px 5px 65px;
    height: 85px;
}

.project_info {
    padding: 0px 5px 5px 45px;
    font-size: .65rem;
    color: rgb(88, 88, 88);
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.project_info p {
    padding: 0px;
    margin: 0px;
    
}

.project_info a {
    color: rgb(88, 88, 88);

}

/* Hero Column */

/* Character Selection Pulldown */
.challenger_container h2 {
    font-size: 1.8em;
}

.pulldown_container {
    height: 50px;
}

.pulldown {
    width: 75%;
}

.horizontal_row {
    display: flex;
}

.btn_dropdown {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 1.25rem;
    margin: auto;
}


/* Hero Image */
.hero_container {
    height: 250px;    
}

.hero_image {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    margin: auto;
}

/* Hero Stats */
.hero_stats_container {
}

.pokemon_stats {
    background: white;
    width: 75%;
    margin: 15px auto;
    border: 2px solid #adadad;
    border-radius: 20px;
    padding: 10px;
}

.pokemon_stats h4{
    font-size: 1.8rem;
    font-variant: small-caps;
    margin-bottom: 0px;
}

.legendary_label {
    font-variant: small-caps;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(97, 97, 97);

}

.pokemon_stats ul{
    padding-left: 1em;

}

.pokemon_stats li {
    list-style: none;
}

.pokemon_stats li strong {    
}

.type_label {
    height: 22px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
}



/* Battle Area - Center Column */
.battle_container {
}

#pokemon_lineup {
    background-image: url("https://lh3.googleusercontent.com/4I4XB51OZpQL-JuSUcd8yrchFvAXJrK405d6CtVX9hXOqAC4vFTeuwFACbVzPSCOEeRtMHlLqA33rvlcnGb3FPTSfOuusljfWH9sf1U45Aaq=rw-e365-w1800");
    /* background-image: url("../../static/images/halftone_bg.png");
    background-size: 100%; */
    background-color: #ccebf6;
    border: 3px dotted #009dd1;
    width: 75%;
    border-radius: 100%;
    margin: 30px auto;
}

.predict_player {
    margin: 0;
    padding: 0;
    text-align: center;    
    font-size: 2rem;
    font-weight: 500;
    font-variant: small-caps;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

.predict_vs {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #009dd1;
    font-size: 1.7rem;
    font-weight: 700;
}


/* Battle Button  */
#fight_button {
    width: 60%;
    margin: 15px auto;
}

.btn {
    background-color: #009dd1;
    border: 1px solid #0091c2;
    border-radius: 8px;
    font-size: 1.25rem;
}

.btn:hover {
    background-color: #0091c2;
    border: 1px solid #009dd1;
}

/* Predicted Winner  */

.placeholder_img {
    margin: 20px 0px 50px 0px;
}
#predicted_winner {    
    border: 2px dashed #38a838;
    background: #d7eed7;
    /* background-image: url("../../static/images/halftone_bg.png");
    background-size: 100%; */
    width: 75%;
    margin: 15px auto;
    border-radius: 20px;
    padding: 15px 25px;
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.4));
}


.predicted_result_title, .prediction_result {
    margin: auto;
    padding: 0;
    width: auto;
}

.predicted_result_title {
    color: #38a838;
    margin-bottom: 10px;
}


.prediction_result {
    font-size: 2.5rem;
    font-weight: 600;
    font-variant: small-caps;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
